@import "tailwindcss";

body {
  margin: 0;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/cryptocurrency-background-001.jpg);
  background-size: cover;
  background-attachment: fixed;
}
